p{
	color: white;
}
body{
	margin: 0;
	font-family: "Arial","verdana","arial";
	/*background-color: #333;*/
	background-color: rgba(0, 0, 0, 1);
}

header h1{
	color: grey;
	font-size: 17px;
}

.nav-list{
	width: 150px;
	height: 100%;
	line-height: 2em;
	list-style-type: none;
	font-size: 11px;
	padding: 0;
}

.fixed-nav a{
	color: #dcf3f1;
	opacity: 0.8;
	text-decoration: none;
}

.fixed-nav li:first-of-type{

}

.fixed-nav a:hover{
	opacity: 1;
	text-decoration: none;
	color: #92fff7;
}

.fixed-nav{
	width: 150px;
	position: fixed;
	margin-left: 13px;
	margin-top: 13px;
	margin-right: 0;
	height: 85vh;
	z-index: 10;
	top: 0px;
}

.homepage-pic{
	margin-top: 20px;
	width: 85%;
	min-width: 950px;
	margin-left: 180px;
}

.bio-box{
	margin-top: 13px;
	margin-left: 190px;
	overflow: scroll;
	width: calc(85% - 170px);
}

.bio-box p{
	padding-bottom: 40px;
}

.art-work{
	top: 8px;
	margin-left: 190px;
	overflow: scroll;
	width: 85%;
}

.main-content{
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	}

.main-content ul{
	padding: 0;
	list-style-type: none;
}
.art{
	width: 215px;
	height: 200px;
	/*border-right: solid #A43A97 1px;*/
	display: inline-block;
	margin: 20px;
	margin-bottom: 29px;
	box-sizing: border-box;

}
.art img{
	width: inherit;
	height: 150px;
	/*-webkit-box-shadow: -1px 1px 5px 1px rgba(164,58,151,0.78);
	-moz-box-shadow: -1px 1px 5px 1px rgba(164,58,151,0.78);
	box-shadow: -1px 1px 5px 1px rgba(164,58,151,0.78);
	*/
}

.art-info{
	font-size: 10px;
	height: 50px;
	width: 215px;
	color: #dcf3f1;
	overflow: scroll;
}

@media (max-width: 800px) {
	.fixed-nav{
		margin-left: 5px;
	}
	.nav-list{
	width: 120px;
	font-size: 7px;
	}
	.homepage-pic{
	width: 800px;
	height: 400px;
	margin-left: 120px;
	}
	.bio-box{
	margin-top: 13px;
	margin-left: 120px;
	font-size: 10px;
	width: calc(85% - 120px);
    }

	.bio-box p{
	padding-bottom: 20px;
	}
	.fixed-full{
		left: 200px;
	}
	.main-content{
		margin-left: 0px;
	}
}





