*{
	/*box-sizing: border-box;*/
}

body{
	margin: 0;
	font-family: "lucida sans","verdana","arial";
	background-color: #333;
}

h1{
	color: #d8b3ff;
}

a{
	color: #d8b3ff;
	text-decoration: none;
}

.header-box{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
header{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.content{
	margin-top: 55px;
}

.fixed-full{
	position: fixed;
	top: 77px;
	width: 100%;
	min-width: 960px;
	height: 90%;
	overflow: scroll;
}

.fixed-nav{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	height: 75vh;
}

.nav-list{
	width: 250px;
	height: 100%;
	border: solid white;
}

.menu ul{
	list-style-type: none;
	line-height: 2em;
}


.inner-main{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
}

.main-content{
	box-sizing: border-box;
	border: solid red;
	width: 100%;

	max-width: calc(960px - 250px);
	margin: 0 auto 0 calc(((100% - 960px) / 2) + 250px);
	height: 1000px;

}